html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ibm-plex-sans-100 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/ibm-plex-sans-v19-cyrillic_latin-100.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/ibm-plex-sans-v19-cyrillic_latin-100.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* ibm-plex-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-sans-v19-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/ibm-plex-sans-v19-cyrillic_latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* ibm-plex-sans-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ibm-plex-sans-v19-cyrillic_latin-500.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/ibm-plex-sans-v19-cyrillic_latin-500.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* ibm-plex-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ibm-plex-sans-v19-cyrillic_latin-700.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/ibm-plex-sans-v19-cyrillic_latin-700.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
  font-family: "IBM Plex Sans";
  padding: 30px;
}

/*POSITION - использовать с осторожностью*/

/* position: static; - по умолчанию 
*/

/* position: relative - положение элемента устанавливается относительно его первоначального положения в коде 
 
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

   Значения можно указывать в процентах и отрицательных значениях 
 z-index: 0 (по умолчанию) - управляет наложением элементов */

/* position: absolute - вырывается из потока и место не бронирует
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

	width: 100%;

	   Значения можно указывать в процентах и отрицательных значениях 
 z-index: 0 (по умолчанию) - управляет наложением элементов 
 */

/* 
 position: fixed; - вырывается из потока и фиксируется по окну браузера и место не бронирует
 width: 100%;
  z-index: 0;
 */

/* 
 position: sticky; (липкий) - гибрид между- position: static и position: fixed;
 
 position: fixed; + js = можно добться такого эфекта.
 */

.block {
  border: 5px solid red;
  max-width: 600px;
  margin: 0 auto;
  height: 600px;
}

.block div {
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.block__1 {
  background-color: rgb(234, 230, 109);
}

.block__2 {
  background-color: #ccc;
}

.block__3 {
  background-color: #416cd2;
}

.block__4 {
  background-color: rgb(234, 230, 109);
}
